              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    
                    <img src="profile4.JPG" height="190" width="130">     
                  
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <p>
                  </p> 
                  <li>        
                    <h4> <b> Haoyuan Zhang </b> </h4>
                  </li>  
                  <p>  </p> 
                  <p>  </p> 
                     <li>  #Ph.D. Candidate</li>      <p>
                 </p> 
                <li>  #Bayesian Learning</li>      <p>
                 </p> 
                <li> #System Safety and Reliability    </li> 
                  <br> </br>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
<br> </br>
                   Email: <a href="mailto:haoyuan.zhang@qmul.ac.uk">haoyuan.zhang@qmul.ac.uk</a>  
     
                    
                  
