              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    
                    <img src="profile4.jpg" height="190" width="130">     
                  
                  </li>                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">       
                  <p>
                  </p> 
                  <li>        
                    <h4> <b> Li Kaijian </b> </h4>
                  </li>  
                  <p>  </p> 
                  <p>  </p> 
                     <li>  #Lecturer</li>      <p>
                 </p> 
                <li>  #Construction Management</li>      <p>
                 </p> 
                <li> #Off-site construction</li> 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
<br></br>
                   Email: <a href="mailto:likaijian@cqu.edu.cn">likaijian@cqu.edu.cn  </a>  
     
                    
                  
