            <ul class="list-unstyled">
                        <p>
                        </p> 
                        
                        
                        <li>        
                          
                    <img src="google.png" height="30" width="30">     
                    <a href="https://scholar.google.co.uk/citations?user=gc4d914AAAAJ&hl=en" target="_blank">
                    Google Scholar
                    </a>
              </li>  
                 <p>
                        </p>       
              <li>
                    <img src="linkedin.png" height="30" width="30">
                    <a href="https://www.linkedin.com/in/haoyuan-zhang-b4541492/?trk=hp-identity-photo" target="_blank">
                      LinkedIN
                    </a>
              </li>
                          <p>
                        </p>     
              <li>
                   <img src="cv.jpeg" height="30" width="30">
                <a href="assets/CV_Nov17.pdf"}
" target="_blank">
                  Curriculum Vitae
                </a>
              </li>
                             <p>
                        </p>  
              <li>
                   <img src="code.png" height="30" width="30">
                <a href="https://github.research.its.qmul.ac.uk/acw281?tab=repositories" target="_blank">
                  Codes
                </a>
              </li>			  
            </ul>
